<html class="color" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio Website</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

</head>

<body>

    <%- include ('template/nav') %>

    <section class="proyect" id="proyect">
        <div class="max-width">
            <h2 class="title">Mis proyectos</h2>
            <div class="serv-content">
                <div class="card">
                    <div class="box">
                        <i class="fa-solid fa-building-user"></i>
                        <div class="text">Puertas del sur</div>
                        <p>Este proyecto fue realizado con php, sistema para gestionar la entrada y salida de
                            visitantes, cuenta con validaciones de formularios y con funcionalidad crud.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fa-brands fa-square-js"></i>
                        <div class="text">JavaScript</div>
                        <p>Este proyecto fue realizado con javascript, sistema para realizar calculos y validacion de
                            formularios, cuenta con un juego de adivinar el instructor muy divertido.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fa-brands fa-react"></i>
                        <div class="text">React</div>
                        <p>Este proyecto fue realizado con react, página interactiva con funcionalidad crud que sirve
                            para conectarse a una api.</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    
    <%- include ('template/footer') %>
    
    <script src="js/script.js"></script>
</body>

</html>