<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="/">Portafo<span>lio</span></a></div>
            <ul class="menu">
                <li><a href="/" class="menu-btn">Inicio</a></li>
                <li><a href="/acerca" class="menu-btn">Acerca de</a></li>
                <li><a href="/proyecto" class="menu-btn">Proyectos</a></li>
                <li><a href="/habilidades" class="menu-btn">Habilidades</a></li>
                <li><a href="/equipo" class="menu-btn">Equipos</a></li>
                <li><a href="/contacto" class="menu-btn">Contacte con</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
</body>
</html>